# Compilación
build/
dist/
*.class

# NetBeans
nbproject/private/

# Logs
logs/

# Windows
Thumbs.db

# Portable (NO subir nada)
portable/

# Dependencias externas
JavaScriptLibrary.jar
java-discord-rpc-2.0.1-all.jar