# Configuration file

~CONFIG_VERSION: 0.4.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Opciones avanzadas de configuración para cambiar la forma en que HEI funciona.
##########################################################################################################

advanced {
    # When enabled, adds new bookmarks to the front of the bookmark list [default: false]
    B:addBookmarksToFront=false

    # Builds search trees on multiple threads concurrently, turn this off if you're experiencing extremely high load on your CPU when loading HEI [default: true]
    B:asyncSearchTreeBuilding=true

    # Mueva la barra de búsqueda HEI a la parte inferior central de la pantalla. [default: false]
    B:centerSearchBarEnabled=false
    B:debugModeEnabled=false

    # Elija si HEI debe dar elementos directamente al inventario (inventory) o recogerlos con el mouse (mouse_pickup).
    # [Por defecto: mouse_pickup]
    # [Validar: [inventory, mouse_pickup]]
    S:giveMode=MOUSE_PICKUP

    # El ancho máximo de la lista de ingredientes. [range: 4 ~ 100, default: 100]
    I:maxColumns=100

    # The maximum height of the recipe GUI. [range: 175 ~ 5000, default: 350]
    I:maxRecipeGuiHeight=350

    # Cómo debe formatearse el nombre del mod en la información sobre herramientas para la interfaz HEI. Dejar en blanco para deshabilitar. [Por defecto: blue italic] [Validar: [black, dark_blue, dark_green, dark_aqua, dark_red, dark_purple, gold, gray, dark_gray, blue, green, aqua, red, light_purple, yellow, white, obfuscated, bold, strikethrough, underline, italic]]
    S:modNameFormat=blue italic
    B:optimizeMemoryUsage=true

    # Color of the recipe bookmark group in RGBA format. [range: -2147483648 ~ 2147483647, default: -1627324672]
    I:recipeBookmarkGroupColor=-1627324672

    # Enable ultra low memory usage mode, can slow down searching by a lot however. [default: false]
    B:ultraLowMemoryUsage=false
}


category {
    # Determines the display order of recipe categories in HEI. Categories listed earlier appear first in the HEI interface. [Por defecto: []]
    S:categoryUidOrder <
     >
}


##########################################################################################################
# collapsible
#--------------------------------------------------------------------------------------------------------#
# Opciones para colapsar grupos de ingredientes en una sola ranura en la lista de ingredientes.
##########################################################################################################

collapsible {
    # Cuando está habilitado, los grupos de ingredientes relacionados (pociones, libros encantados, etc.) se colapsan en una sola ranura. Alt+Clic en un grupo para expandirlo o colapsarlo.
    B:collapsibleGroupsEnabled=true

    # Colapsa los grupos actualmente abiertos cuando se cierra HEI.
    B:collapseOnClose=false

    # Intercambia la acción del clic simple, la otra opción se convierte en la acción de Alt+Clic. Abrir Grupo abre el grupo. Primer Objeto aplica la acción al primer objeto del grupo.
    # [Por defecto: open_group]
    # [Validar: [open_group, first_item]]
    S:collapsedClickAction=OPEN_GROUP
    S:disabledGroups <
     >
}


##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# Miscellaneous config options
##########################################################################################################

misc {
    # Si se debe ocultar el botón de marcador en la esquina inferior izquierda [default: false]
    B:hideBottomLeftCornerBookmarkButton=false

    # Whether to hide the bottom-right corner config button [default: false]
    B:hideBottomRightCornerConfigButton=false

    # Disable to disallow mouse clicks to see recipes and usages when hovering over an ingredient [default: true]
    B:mouseClickToSeeRecipes=true

    # Show user-hidden ingredients when the player is in creative mode [default: false]
    B:showHiddenIngredientsInCreative=false

    # Skip showing HEI's progress bars on load, can save up to a few seconds when loading [default: false]
    B:skipShowingProgressBar=false

    # Show when a recipe has been changed by adding it to the item's tooltip [default: true]
    B:tooltipShowRecipeBy=true
}


rendering {
    # Stops extremely frequent ingredient draw calls by using a render buffer, improves FPS in menus by up to 2-3x. But animations and glint will not be applied correctly. [default: false]
    B:bufferIngredientRenders=false
}


##########################################################################################################
# search
#--------------------------------------------------------------------------------------------------------#
# Opciones relacionadas con la barra de búsqueda
##########################################################################################################

search {
    # Búsqueda por color (prefijo: ^)
    # [Por defecto: disabled]
    # [Validar: [enabled, require_prefix, disabled]]
    S:colorSearchMode=DISABLED

    # Modo de búsqueda para los nombres de la pestaña de creativo (prefijo: %)
    # [Por defecto: disabled]
    # [Validar: [enabled, require_prefix, disabled]]
    S:creativeTabSearchMode=DISABLED

    # Búsqueda por mod (prefijo: @)
    # [Por defecto: require_prefix]
    # [Validar: [enabled, require_prefix, disabled]]
    S:modNameSearchMode=REQUIRE_PREFIX

    # Búsqueda por diccionario de minerales (prefijo: $)
    # [Por defecto: disabled]
    # [Validar: [enabled, require_prefix, disabled]]
    S:oreDictSearchMode=DISABLED

    # Modo de búsqueda por IDs de recursos (prefijo: &)
    # [Por defecto: disabled]
    # [Validar: [enabled, require_prefix, disabled]]
    S:resourceIdSearchMode=DISABLED

    # Includes advanced tooltips in search trees [WILL RELOAD SEARCH TREES] [default: false]
    B:searchAdvancedTooltips=false

    # Includes stripped diacritics version of strings in search trees [WILL RELOAD SEARCH TREES] [default: false]
    B:searchStrippedDiacritics=false

    # Búsqueda por descripción (prefijo: #)
    # [Por defecto: enabled]
    # [Validar: [enabled, require_prefix, disabled]]
    S:tooltipSearchMode=ENABLED
}


searchadvancedtooltips {
    B:search=false
}


